@model GardenyaGirisimciKadinlar.Models.AltKategori

@{
    ViewBag.Title = "AltKategoriDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-6 " style="margin-left:30px !important;">
    <h3 class="fw-title">Kategori Düzenle</h3>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>AltKategori</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.AltKategoriID)

            <div class="form-group">
                @Html.LabelFor(model => model.AltKategoriAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AltKategoriAdi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AltKategoriAdi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AltKategoriLink, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AltKategoriLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AltKategoriLink, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Kategori Adı
                <div class="col-md-10">
                    @ViewBag.KAD
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="site-btn" />
                </div>
            </div>
        </div>
    }


</div>
<div>
    @Html.ActionLink("Alt Kategoriler Listesi", "Details", new { id = ViewBag.KID })
</div>