@model GardenyaGirisimciKadinlar.Models.Urunler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_GirisimciLayout.cshtml";
}

<div class="col-lg-6 " style="margin-left:30px !important;">
    <h3 class="fw-title">Ürün Detayları</h3>
    <br />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AltKategori.AltKategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltKategori.AltKategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Adet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resim)
        </dt>

        <dd>
            <img src="@ViewBag.Resim" width="250" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.UrunID }) |
    @Html.ActionLink("Ürünler Listesi", "Index")
</p>
